{extends "../@layout.latte"}
{block title}{_post}{/block}

{block headIncludes}
    {var $postText = $post->getText(false)}
    {var $postDesc = mb_strlen($postText) > 200 ? mb_substr($postText, 0, 197) . '...' : $postText}
    {php $ogImageUrl = null}
    {foreach $post->getChildren() as $child}
        {if $child instanceof \openvk\Web\Models\Entities\Photo}
            {php $ogImageUrl = $child->getURLBySizeId('normal')}
            {breakIf true}
        {/if}
    {/foreach}
    <meta property="og:title" content="{_post}: {$post->getOwner()->getCanonicalName()} — {$instance_name}" />
    <meta property="og:url" content="{$baseUrl}/wall{$post->getPrettyId()}" />
    <meta n:if="!empty($postDesc)" property="og:description" content="{$postDesc}" />
    <meta n:if="!is_null($ogImageUrl)" property="og:image" content="{$ogImageUrl}" />
    <meta property="og:type" content="article" />
    <meta name="twitter:title" content="{_post} — {$instance_name}" />
    <meta n:if="!empty($postDesc)" name="twitter:description" content="{$postDesc}" />
    <meta n:if="!is_null($ogImageUrl)" name="twitter:image" content="{$ogImageUrl}" />
    <meta n:if="!is_null($ogImageUrl)" n:attr="name => 'twitter:card'" content="summary_large_image" />
{/block}

{block content}

{var $menuItems = [
    [
        'url' => "/wall" . $post->getTargetWall() . "?type=owners",
        'title' => $post->getTargetWall() < 0 ? "clubs_posts" : tr("users_posts", ovk_proc_strtr($wallOwner->getFirstName(), 20)),
        'translate' => $post->getTargetWall() < 0 ? true : false,
        'active' => false
    ],
    [
        'url' => "/wall" . $post->getTargetWall(),
        'title' => 'all_posts',
        'active' => false
    ],
    [
        'url' => "/notes" . $post->getTargetWall(),
        'title' => 'notes',
        'active' => false,
        'condition' => $wallOwner instanceof \openvk\Web\Models\Entities\User
    ],
    [
        'url' => "javascript:void(0)",
        'title' => 'post',
        'active' => true
    ]
]}
    <div class="wide_column_left">
        <div class="narrow_column_wrap">
            <div class="narrow_column">
                {include "../components/ui_rmenu.latte", items => $menuItems}
            </div>
        </div>
        <div class="wide_column_wrap">
            <div class="wide_column post_view_page {if $cCount > 0}with_comments{/if}">
                <div id="post_page_main">
                    {include "../components/post.latte", post => $post, forceNoCommentsLink => TRUE, scrollNode => false, postPage => true, commentSection => false}
                </div>
                <div id="post_page_meta">
                    {include "../components/comments.latte",
                    comments => $comments,
                    count => $cCount,
                    page => $cPage,
                    model => "posts",
                    parent => $post }
                </div>
            </div>
        </div>
    </div>
{/block}