{extends "../@layout.latte"}

{block title}
    {if $imAvailable}
        {_my_messages}
    {else}
        {_section_maintenance}
    {/if}
{/block}

{block content}
    {if empty($thisUser) && !empty($joinCode)}
        {include "partials/unauth_invite.latte"}
    {elseif $imAvailable}
        <div class="im_load_container page_block">
            {include "../components/page_block_header.latte" title => 'my_messages'}
            {include "partials/container.latte"}
        </div>
    {else}
        <div class="im_load_container page_block">
            {include "../components/page_block_header.latte" title => 'section_maintenance'}
            {include "partials/maintenance.latte"}
        </div>
    {/if}
{/block}
