{extends "../@layout.latte"}

{block title}
    {if $imAvailable}
        {_my_messages}
    {else}
        {_section_maintenance}
    {/if}
{/block}

{block content}
    <div class="im_container page_block">
        {include "../components/page_block_header.latte" title => $imAvailable ? 'my_messages' : 'section_maintenance'}
        {if $imAvailable}
            {include "partials/container.latte"}
        {else}
            {include "partials/maintenance.latte"}
        {/if}
    </div>
{/block}
